.navbar-fixed-top {
  position: sticky;
}

.App {
  margin-bottom: 40px;
}

#right-toolbar {
  position: fixed;
  right: 20px;
  top: 80px;
  text-align: right;
}

#right-toolbar .right-button {
  margin-bottom: 10px;
}

fieldset,
.panel-default {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  margin: 0 0;
  padding: 0 0 0 0.625em;
}
.panel-body {
  padding-top: 10px;
}
legend {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.form-group:last-child {
  margin-bottom: 2px;
}

/*
 Sad hack to make the array toolbar width smaller :(
 https://github.com/rjsf-team/react-jsonschema-form/blob/76ab08c5b06b1cbecd03fab0bdbca64b69b5c038/packages/core/src/components/fields/ArrayField.js#L48-L53
*/
.App .col-xs-9 {
  /* As if .col-xs-11 */
  width: 91.66666667% !important;
}
.App .col-xs-offset-9 {
  /* As if .col-xs-offset-11 */
  margin-left: 91.66666667% !important;
}
.App .col-xs-3 {
  /* As if .col-xs-1 */
  width: 8.33333333% !important;
}
