.navbar-fixed-top {
  position: sticky;
}

.App {
  margin-bottom: 40px;
}

#right-toolbar {
  position: fixed;
  right: 20px;
  top: 80px;
  text-align: right;
}

#right-toolbar .right-button {
  margin-bottom: 10px;
}
